<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">sidenav</mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar fixed color="primary">
      <button
        mat-icon-button
        (click)="opened = !opened"
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a href="news">
        <span>Sportnews</span>
      </a>
      <span class="example-spacer"></span>
      <a href="add"><span>Add</span></a>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">&copy; All right reserved by SportNews</div>
  </mat-sidenav-content>
</mat-sidenav-container>
